{% extends "modal.html" %}

{% block modal-title %}
  Add location Connection
{% endblock %}

{% block modal-body %}
<div>
  <form id="form-add_location_connection" action="{% url "location-add-location" element.component_type selectTable element.pk%}" method="post">
    {% include "location/create_component_form.html"%}
  </form>
</div>
{% endblock %}


{% block modal-footer %}
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
  <button type="submit" class="btn btn-primary" form="form-add_location_connection">Submit</button>
{% endblock %}
