<!DOCTYPE html>
<html>
  <head>
    {% include "head.html" %}
  </head>
  <body>
    {% include "header_panel.html" %}
    <div class="container-fluid main" style="padding: 0px;">
      <div class="row">
        <div class="pages col-xs-9">
          <div class="col-xs-10">
            <div class="well page" id="data-page-content">
              {% block content %}{% endblock%}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include "scripts.html" %}
  </body>
</html>
