{% load staticfiles %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Mobile support -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Material Design fonts -->

<title>ArduiFarm</title>
<script src={% static "js/vendor/jquery-2.1.4.min.js"%}></script>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href={% static "css/vendor/bootstrap.min.css"%}>
<link rel="stylesheet" href={% static "css/vendor/selectize.bootstrap3.min.css"%}>
<link rel="stylesheet" href={% static "css/app.css"%}>
